section h1 {
  text-align: center;
  margin-top: 40px;
}

section h1 > img {
  height: 15px;
  padding-right: 10px;
}

#filtros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#filtros #tituloNome,
#tituloTipoPlano {
  margin-top: 20px;
  grid-column: 2;
  font-weight: bold;
}

#filtros #nome,
#tipoPlano {
  grid-column: 2;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid rgb(168, 168, 168);
  height: 30px;
}

#filtros #tipoPlano {
  margin-bottom: 40px;
}
